.display-container {
    height: 35vh;
}


.upper-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    height: auto;
    margin: 0;

    /* short hand paddding */
    padding: 0 12px;
}


.upper-text .current-score {
    font-size: 2vw;
    font-weight: 300;
}
.main-text {
    
    max-height: 80%;
    width: 68%;

    text-align: center;
    background-color: rgb(17, 0, 255);
    border-radius: 9px;
    margin: auto;
    overflow: hidden;
}

.main-text span {
    font-size: 10vw;
  
}

/* animate */

.lives-deduc-animation {
    color: red;
    font-size: 20px;
    font-weight: 900;
}

.lives-increase-animation {
    color: green;
    font-size: 20px;
    font-weight: 900;
}


.score-animation {
    color: yellow;

    font-weight: 900;
}





